{
  :source-paths ["src" "cli"]
  :cache-blockers #{cumulo-util.build}
  :dependencies [
    [mvc-works/hsl "0.1.2"]
    [mvc-works/shell-page "0.1.15"]
    [respo "0.13.9"]
    [respo/ui "0.3.16"]
    [cumulo/util "0.1.12"]
    [org.clojure/core.incubator "0.1.4"]
  ]
  :open-file-command [
    "subl"
    ["%s:%s:%s" :file :line :column]
  ]
  :dev-http {7000 "target/"}
  :builds {
    :client {
      :target :browser, :output-dir "target/", :asset-path "./"
      :modules {
        :client {:init-fn cirru-editor.main/main!}
      }
      :devtools {:after-load cirru-editor.main/reload!}
      :compiler-options {:infer-externs :auto}
      :release {
        :output-dir "dist/", :module-hash-names 8
        :build-options {:manifest-name "assets.edn"}
      }
    }
    :page {
      :target :node-script, :output-to "target/page.js", :main cirru-editor.page/main!
      :devtools {:after-load cirru-editor.page/main!}
    }
    :upload {
      :target :node-script, :output-to "target/upload.js", :main cirru-editor.upload/main!
      :devtools {:after-load cirru-editor.upload/main!}
    }
  }
}